<!-- <nav class="navbar navbar-expand-lg bg-dark navbar-dark fixed-top">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/">HSPA</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" [routerLinkActiveOptions]="{exact:true}"
            routerLinkActive="active" routerLink="/">Buy</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" routerLink="/rent-property">Rent</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" routerLink="add-property">List Property (Free)</a>
        </li>
      </ul>

      <div>
        <ul class="nav navbar-nav">
          <li *ngIf="!loggedin()" class="nav-item">
            <a class="nav-link" routerLink="/user-register" routerLinkActive="active">Register</a>
          </li>
          <li *ngIf="!loggedin()" class="nav-item">
            <a class="nav-link" routerLink="/user-login" routerLinkActive="active">Login</a>
          </li>

          <div *ngIf="loggedin()" class="dropdown mr-5" dropdown>
            <a href="#" class="dropdown-toggle text-light" dropdownToggle (click)="false">Welcome {{loggedinUser}}</a>
            <div class="dropdown-menu dropdown-menu-right" *dropdownMenu>
              <a href="#" class="dropdown-item">
                <i class="fas fa-tachmoter-alt"></i> ViewDashboard
              </a>
              <a href="#" class="dropdown-item">
                <i class="fas fa-tachmoter-alt"></i> MyProfile
              </a>
              <a href="#" class="dropdown-item">
                <i class="fas fa-tachmoter-alt"></i> Change Password
              </a>
              <a href="#" (click)="onLogout()" class="dropdown-item">
                <i class="fas fa-tachmoter-alt"></i> Logout
              </a>
            </div>
          </div>


        </ul>
      </div>

    </div>
  </div>
</nav> -->

<header>
  <a class="navbar-brand me-5" routerLink="/" style="font-size: 20px; color: white;">HSPA</a>

  <input type="checkbox" id="nav_check" hidden>
  <nav class="navbar navbar-expand-lg fixed-top" style="height: auto;">
    <div class="container-fluid d-flex justify-content-between ps-4">
      <a class="navbar-brand me-3" routerLink="/" style="font-size: 30px; padding:8px 0; color: #f4f6fa;;">HSPA</a>
      <ul class="navbar-nav me-auto mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" [routerLinkActiveOptions]="{exact:true}"
            routerLinkActive="active" routerLink="/">Buy</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" routerLink="/rent-property">Rent</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" routerLink="add-property">List Property (Free)</a>
        </li>
      </ul>

      <div>
        <ul class="nav navbar-nav">
          <li *ngIf="!loggedin()" class="nav-item">
            <a class="nav-link" routerLink="/user-register" routerLinkActive="active">Register</a>
          </li>
          <li *ngIf="!loggedin()" class="nav-item">
            <a class="nav-link" routerLink="/user-login" routerLinkActive="active">Login</a>
          </li>


          <div *ngIf="loggedin()" class="dropdown mr-5" dropdown placement="bottom">
            <a href="#" class="dropdown-toggle text-light me-3" dropdownToggle>Welcome {{loggedinUser}}</a>
            <div class="dropdown-menu dropdown-menu-right" *dropdownMenu>
              <!-- <a href="#" class="dropdown-item">
                <i class="fas fa-tachometer-alt"></i> View Dashboard
              </a>
              <a href="#" class="dropdown-item">
                <i class="fa-solid fa-user"></i> My Profile
              </a>
              <a href="#" class="dropdown-item">
                <i class="fas fa-tachometer-alt"></i> Change Password
              </a> -->
              <a href="#" (click)="onLogout()" class="dropdown-item">
                <i class="fas fa-tachometer-alt"></i> Logout
              </a>
            </div>
          </div>

          <!-- <div *ngIf="loggedin()" class="dropdown mr-5" dropdown>
            <a href="#" class="dropdown-toggle text-light" dropdownToggle (click)="false">Welcome {{loggedinUser}}</a>
            <div class="dropdown-menu dropdown-menu-right" *dropdownMenu>
              <a href="#" class="dropdown-item">
                <i class="fas fa-tachmoter-alt"></i> ViewDashboard
              </a>
              <a href="#" class="dropdown-item">
                <i class="fas fa-tachmoter-alt"></i> MyProfile
              </a>
              <a href="#" class="dropdown-item">
                <i class="fas fa-tachmoter-alt"></i> Change Password
              </a>
              <a href="#" (click)="onLogout()" class="dropdown-item">
                <i class="fas fa-tachmoter-alt"></i> Logout
              </a>
            </div>
          </div> -->
        </ul>
      </div>
    </div>
  </nav>
  <label for="nav_check" class="hamburger">
    <div></div>
    <div></div>
    <div></div>
  </label>
</header>
